[submodule "deps/fortran-socket"]
	path = deps/fortran-socket
	url = https://github.com/lesquoyb/fortran-socket.git
[submodule "deps/fortran-sdl2"]
	path = deps/fortran-sdl2
	url = https://github.com/lesquoyb/fortran-sdl2.git
